---

---

<div class="footer">
  <div class="left">
    <div>&copy; tnsi.me 2024</div>
    <div>Unless stated otherwise, <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank" rel="noopener">CC-BY-NC-SA</a></div>
  </div>
  <div class="right">
  </div>
</div>

<style>
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0.5rem;
  }
  
  .left {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    font-size: 0.75rem;
  }
  
  .right {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    font-size: 0.75rem;
  }
</style>