---
import { Image } from "astro:assets";
import ccBadgeSvg from "./by-nc-sa.svg";
---

<div class="footer">
  <div class="footer-block left"></div>
  <div class="footer-block center">
    <div>
      <a
        href="https://creativecommons.org/licenses/by-nc-sa/4.0/"
        target="_blank"
        rel="noopener"><Image src={ccBadgeSvg} alt="CC-BY-NC-SA" /></a
      >
    </div>
  </div>
  <div class="footer-block right"><div>&copy; tnsi.me 2024</div></div>
</div>

<style>
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0.5rem;
  }

  .footer-block {
    display: flex;
    flex-direction: column;
    font-size: 0.75rem;
    justify-content: flex-end;
  }

  .left {
    align-items: flex-start;
  }

  .center {
    align-items: center;
  }

  .right {
    align-items: flex-end;
  }
</style>
